.last-page {
  page-break-before: always;
  page: cover-page;
  margin-left: $page-margin-left;
  margin-right: $page-margin-right;
  color: $text-color-cover;
  margin-top: 90mm;

  .end-of-report {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
  }
}