pre {
  line-height: 125%;
}

td.linenos .normal {
  color: #a1a1aa;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos {
  color: #a1a1aa;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

td.linenos .special {
  color: #0f0f0f;
  background-color: #facc15;
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos.special {
  color: #0f0f0f;
  background-color: #facc15;
  padding-left: 5px;
  padding-right: 5px;
}

.codehilite .hll {
  background-color: #27272a;
}

.codehilite {
  background: hsl(var(--muted));
}

.codehilite .c,
.codehilite .ch,
.codehilite .cm,
.codehilite .cpf,
.codehilite .c1,
.codehilite .cs {
  color: #71717a;
  font-style: italic;
}

.codehilite .k,
.codehilite .kc,
.codehilite .kd,
.codehilite .kn,
.codehilite .kp,
.codehilite .kr {
  color: #22c55e;
  font-weight: bold;
}

.codehilite .o,
.codehilite .ow {
  color: #f472b6;
}

.codehilite .cp {
  color: #fcd34d;
}

.codehilite .gd {
  color: #ef4444;
}

.codehilite .ge {
  font-style: italic;
}

.codehilite .gr {
  color: #f43f5e;
}

.codehilite .gh {
  color: #e4e4e7;
  font-weight: bold;
}

.codehilite .gi {
  color: #22c55e;
}

.codehilite .go {
  color: #a1a1aa;
}

.codehilite .gp {
  color: #e4e4e7;
  font-weight: bold;
}

.codehilite .gs {
  font-weight: bold;
}

.codehilite .gu {
  color: #c084fc;
  font-weight: bold;
}

.codehilite .gt {
  color: #60a5fa;
}

.codehilite .kt {
  color: #14b8a6;
}

.codehilite .m,
.codehilite .mb,
.codehilite .mf,
.codehilite .mh,
.codehilite .mi,
.codehilite .mo,
.codehilite .il {
  color: #facc15;
}

.codehilite .s,
.codehilite .sa,
.codehilite .sb,
.codehilite .sc,
.codehilite .dl,
.codehilite .sd,
.codehilite .s2,
.codehilite .sh,
.codehilite .si,
.codehilite .sx,
.codehilite .sr,
.codehilite .s1,
.codehilite .ss {
  color: #f472b6;
}

.codehilite .na {
  color: #7dd3fc;
}

.codehilite .nb,
.codehilite .bp {
  color: #e879f9;
}

.codehilite .nc {
  color: #38bdf8;
  font-weight: bold;
}

.codehilite .no {
  color: #f87171;
}

.codehilite .nd {
  color: #d946ef;
}

.codehilite .ni {
  color: #a1a1aa;
  font-weight: bold;
}

.codehilite .ne {
  color: #f87171;
  font-weight: bold;
}

.codehilite .nf,
.codehilite .fm {
  color: #38bdf8;
}

.codehilite .nl {
  color: #fcd34d;
}

.codehilite .nn {
  color: #38bdf8;
  font-weight: bold;
}

.codehilite .nt {
  color: #4ade80;
  font-weight: bold;
}

.codehilite .nv,
.codehilite .vc,
.codehilite .vg,
.codehilite .vi,
.codehilite .vm {
  color: #facc15;
}

.codehilite .w {
  color: #3f3f46;
}
