
$critical-color: #9c1720;
$high-color: #d13c0f;
$medium-color: #e8971e;
$low-color: #2075f5;
$informational-color: #059D1D;

$primary: #206fbd;
$secondary: #bee3ff;
$white: #ddd;
$accent-3: #43616f;
$black: #000;
$text-color-dark: #393939;

$border-color: $black;

/* cover page */
$text-color-cover: $primary;
$text-color-cover-secondary: $secondary;

/* page margins - default to MS Word margins */
$page-margin-top: 25mm;
$page-margin-bottom: 25mm;
$page-margin-right: 25mm;
$page-margin-left: 25mm;
$page-height: 297mm;

$page-content-height: $page-height - $page-margin-bottom - $page-margin-top;

/* texts **/
$color-heading-1: $primary;
$color-heading-2: $primary;
$color-heading-3: $primary;
$color-heading-4: $primary;

$text-color-primary: $text-color-dark;
$text-default-font-size: 13px;

/* table */
$table-border-color: $black;

/* toc */
$toc-item-color-1: $text-color-dark;
$toc-item-color-2: $accent-3;