:root {
    --primary-100: #ccefff;
    --primary-200: #99dfff;
    --primary-300: #66cfff;
    --primary-400: #00bfff;
    --primary-500: #0099cc;
    --primary-600: #007399;
    --primary-700: #004d66;
}