:root {
    /* Lime Color Palette */
    --primary-100: #ccffcc;
    --primary-200: #99ff99;
    --primary-300: #66ff66;
    --primary-400: #00ff00;
    --primary-500: #00cc00;
    --primary-600: #009900;
    --primary-700: #006600;
}
