django==4.2.7
djangorestframework==3.14.0
django-filter==23.3
Pillow==10.1.0
django-cors-headers==4.3.0
django_q2==1.6.1
weasyprint==60.1
libsass==0.22.0
django-modeltranslation==0.18.11
markdown==3.5.1
pygments==2.16.1
drf-spectacular==0.26.5
cvss==2.6
jinja2==3.1.2
argon2-cffi==23.1.0
rest-framework-generic-relations==2.1.0
nh3==0.2.14
openpyxl==3.1.2
defusedxml==0.7.1
matplotlib==3.8.1