django==5.1
djangorestframework==3.15.2
django-filter==24.3
Pillow==10.4.0
django-cors-headers==4.4.0
django_q2==1.6.2
weasyprint==62.3
libsass==0.23.0
markdown==3.6
pygments==2.18.0
drf-spectacular==0.27.2
cvss==3.1
jinja2==3.1.4
argon2-cffi==23.1.0
rest-framework-generic-relations==2.2.0
nh3==0.2.18
defusedxml==0.7.1
matplotlib==3.9.1.post1
django-extra-settings==0.12.0