.table-custom {
  width: 100%;
  border-collapse: collapse;

  td, th {
    border-bottom: 1px solid $table-border-color;
    border-collapse: collapse;
    padding: 7px;
    text-align: left;
  }

  th {
    border-top: 1px solid $table-border-color;
    border-collapse: collapse;
  }
}