{% if project.thickclient_set.count() %}
  <h4>{{ _('Thick Clients') }}</h4>
{% endif %}

{% for asset in project.thickclient_set.all() %}
  <div class="scope-asset">
    <div class="header">
      <span class="asset-logo">
        <img src="file://images/assets/thick_client.svg" class="asset-logo">
      </span>
      <div class="asset-name">
        <strong>{{ asset }}</strong>
        {{ report_helpers.bleach_md(asset.description)|safe }}

      </div>
    </div>


    <table class="table-width">
      <tr>
        <th>{{ _('Environment') }}</th>
        <th>{{ _('Accessibility') }}</th>
        <th>{{ _('Operating System') }}</th>
        <th>{{ _('Version') }}</th>
      </tr>
      <tr>
        <td>{{ asset.get_environment_display() | dynamic_trans }}</td>
        <td>{{ asset.get_accessible_display() | dynamic_trans }}</td>
        <td>{{ asset.get_os_display() }}</td>
        <td>{% if asset.version %}{{ asset.version }}{% else %}-{% endif %}</td>
      </tr>
    </table>

  </div>


  {% if not loop.last %}
    <hr />
  {% endif %}
{% endfor %}